:root {
    --primary-color: #00365D;
    --secondary-color: #FFD700;
    --thirth-color: #1E1E2E;
    --background-light-color-1: #3FA9F5;
    --background-dark-color-2: #6B47DC;
    --text-button-color: #ECEEF2;
    --text-titles-color: #B0C4DE;
    --text-p-color: black;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--thirth-color);
    color: var(--text-p-color);
    font-family: 'Roboto Condensed', sans-serif;
}

/* Home Section */
.home {
    background: url('../images/bg1.jpg');
    background-size: cover;
    padding: 16rem 0;
    color: var(--thirth-color);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    opacity: 0.8;
}

.title {
    font-size: 3rem;
    margin-bottom: 2rem;
    margin-left: 3rem;
    color: var(--thirth-color);
}

.input-container {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    background-color: var(--thirth-color);
    border: solid var(--background-dark-color-2);
    color: var(--text-button-color);
    padding: 1rem 2rem;
    border-radius: 20px;
}

.date-input {
    background-color: var(--text-titles-color);
    color: var(--primary-color);
    border: solid var(--background-dark-color-2);
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.date-input::placeholder {
    color: #707070;
}

label {
    font-size: 1.5rem;
    font-family: 'Roboto Condensed', sans-serif;
}

.open-button {
    background-color: var(--thirth-color);
    border: solid var(--background-light-color-1);
    color: var(--background-light-color-1);
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.favorites {
    background-color: var(--thirth-color);
    display: flex;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--text-button-color);
    justify-content: center;
    align-items: center;
}

.material-symbols-outlined {
    margin-right: 0.5rem;
    color: var(--secondary-color);
}

/* Picture of the Day Section */
.picture {
    background: url('../images/bg2.jpg');
    background-size: cover;
    padding: 3rem 0;
    color: var(--thirth-color);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    opacity: 0.8;
}

#title-2 {
    color: var(--text-button-color);
    font-size: 3rem;
    text-align: center;
}

#pictureday {
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    border: solid var(--secondary-color);
    width: 50%;
}

.Copyright {
    text-align: center;
    font-size: 1rem;
    color: var(--text-button-color);
}

.description {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    background-color: var(--primary-color);
    opacity: 0.8;
    color: var(--text-button-color);
    padding: 1rem 2rem;
    border-radius: 20px;
}

.apod-container {
    width: 80%;
    margin: 40px auto;
    text-align: center;
}

/* My Favorites Section */
.my-favorites {
    background: url('../images/bg3.jpg');
}

.title-3 {
    color: var(--text-button-color);
    font-size: 3rem;
    text-align: center;
}

.grid-container {
    display: grid;
    margin: 3rem;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.grid-item {
    border: 1px solid var(--secondary-color);
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Responsive Styles */
@media (max-width: 767px) {
    .container {
        padding: 2rem;
    }
    .title {
        font-size: 2rem;
    }
    .input-container {
        flex-direction: row;
        align-items: center;
    }
    .date-input {
        width: 100%;
        margin-bottom: 0;
    }
    .open-button {
        margin-left: 1rem;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 1rem;
    }
    .title {
        font-size: 1.5rem;
    }
    .input-container {
        flex-direction: column;
    }
    .date-input {
        width: 100%;
        margin-bottom: 1rem;
    }
    .open-button {
        margin-left: 0;
    }
}
